BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false

PointerAlignment: Left

IndentCaseLabels: true

SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

SortIncludes: true

Standard: Latest
